<h1>CADASTROS DE VETERINÁRIOS</h1>

<form action="/veterinarios/cadastrar" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    
    <label for="crmv">CRMV:</label>
    <input type="text" id="crmv" name="crmv" required>
    
    <button type="submit">Cadastrar</button>
</form>
<a href="/veterinarios/listar">Listar Veterinários</a>
<p>
<a href="/">Voltar para a Página Inicial</a>
</p>