<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - MeuPet</title>
    <style>
        /* Centraliza o título e define a cor */
        header h1 {
            text-align: center; /* Centraliza o texto */
            color: #3498db; /* Cor azul claro 
            font-family: Arial, sans-serif; /* Fonte para o título */
            font-size: 2.5em; /* Tamanho do título */
            margin: 20px 0; /* Margens superior e inferior */
        }

        /* Estilo da imagem */
        header img {
            display: block; /* Faz com que a imagem seja um bloco */
            margin: 0 auto; /* Centraliza a imagem */
            max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
            height: auto; /* Mantém a proporção da imagem */
        }

        /* Estilo para o parágrafo de informações de contato */
        .contact-info {
            text-align: center; /* Centraliza o texto */
            font-family: Arial, sans-serif; /* Fonte dos parágrafos */
            font-size: 1em; /* Tamanho da fonte */
            margin: 20px 0; /* Margens superior e inferior */
            color: #555; /* Cor do texto */
        }

        /* Estilo para o parágrafo destacado */
        .highlight-text {
            text-align: center; /* Centraliza o texto */
            font-family: 'Arial', sans-serif; /* Fonte para o texto */
            font-size: 1.2em; /* Tamanho do texto */
            color: #631752; /* laranja */
            font-weight: bold; /* Deixa o texto em negrito */
            margin: 20px 0; /* Margens superior e inferior */
        }
        /* Estilo para a imagem do logo */
        .logo {
            position: absolute; /* Define a posição absoluta */
            top: 10px; /* Distância do topo */
            left: 10px; /* Distância da esquerda */
            width: 100px; /* Ajusta a largura da imagem - ajuste conforme necessário */
            height: auto; /* Mantém a proporção da imagem */
        }
    </style>
</head>
<body>
    <header>
        <p> <a href="/">PÁGINA INICIAL</a> </p> 
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfzEVpSSfiv5fhZtr3y5D4hxGLIdifQSkRbA&s" alt="Logo MeuPet">
        <h1>BEM VINDO AO MEUPET!</h1> 
        <p class="highlight-text">ATENDIMENTO DIFERENCIADO - AMBIENTE ACOLHEDOR - ÓTIMOS PREÇOS</p>
        <p class="contact-info">Rua Gabriel Alves Fernandes, 324 - centro - Caxambu-MG - e-mail: meupet@gmail.com - WhatsApp: 35 3378-2256</p>
        <nav>
            <p><a href="/about">Sobre</a></p>
            <p><a href="/contato-servicos">Contato/Serviços</a></p>
            <p><a href="/login">ÁREA ADMINISTRATIVA</a></p>
            <p><a href="/animais/listar">Animais</a></p>
            <p><a href="/veterinarios/listar">Veterinários</a></p>
            <p><a href="/servicos/listar">Serviços</a></p>
            <p><a href="/pagamentos/listar">Pagamentos</a></p>
        </nav>
    </header>
</body>
</html>
